---
title: Creacion
subtitle: This is the demo site for Bulma Clean Theme
hide_hero: true
hide_footer: true
---

{% if page.menubar or page.menubar_toc %} 
	{% assign has_left_sidebar = true %}
{% endif %} 

{% if page.show_sidebar and has_left_sidebar %} 
	{% assign content_width = 'is-4' %} 
{% elsif page.show_sidebar or has_left_sidebar %} 
	{% assign content_width = 'is-8' %} 
{% else %} 
	{% assign content_width = 'is-12' %}
{% endif %}

<!DOCTYPE html>
<html {% if site.fixed_navbar %} class="has-navbar-fixed-{{ site.fixed_navbar }}" {%endif%}>
	{% include head.html %}
	<script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
	<body>
		{% include header.html %} 
		{% unless page.hide_hero %} 
			 {% include hero.html%} 
		{% endunless %} 
		{% include callouts.html %}
		<div class="hero is-fullheight-with-navbar">
			<!-- Hero content -->
			<div class="hero-body bg-img">
				<div class="container">
					<div class="columns">
						<div class="column is-half">
							<figure class="image">
								<img src="/img/title_image.svg" alt="" />
							</figure>
							<div class="tile is-ancestor">
								<div class="tile">
									<div class="tile is-parent is-vertical">
										<article class="tile is-child box">
											<a href="/clases/">
												<p class="title is-size-5">Clases</p>
												<figure class="image">
													<img src="/img/undraw_clases.svg" alt="" />
												</figure>
											</a>
										</article>
										<article class="tile is-child box">
											<a href="/recursos_gratuitos/">
												<p class="title is-size-5">Software y contenido</p>
												<p class="subtitle is-size-6">gratuito</p>
												<figure class="image">
													<img src="/img/undraw_compose_music.svg" alt="" />
												</figure>
											</a>
										</article>
									</div>
									<div class="tile is-parent is-vertical">
										<article class="tile is-child box">
											<a href="/blog/">
												<p class="title is-size-5">Tutoriales</p>
												<figure class="image">
													<img src="/img/undraw_youtube_tutorial.svg" />
												</figure>
											</a>
										</article>
										<article class="tile is-child box">
											<a href="/faq/">
												<p class="title is-size-5">Preguntas y problemas</p>
												<p class="subtitle is-size-6">frecuentes</p>
												<figure class="image">
													<img src="/img/undraw_lecturas.svg" alt="" />
												</figure>
											</a>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Hero Footer -->
			<div class="hero-foot">
				<div class="content has-text-centered is-small">
					<p>
						<strong>Creación Sonora</strong> by
						<a href="https://github.com/Matmac945">Matías Macías</a>. The source
						code is licensed
						<a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
						The website content is licensed
						<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
							>CC BY NC SA 4.0</a
						>.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
