$primary: #51ebd7;
$danger: #7049d6;
$warning: #f75848;
//$link:#B2D43D;
$success: #f5ab5f;
@import 'node_modules/bulma/bulma.sass';
.is-attribution {
	padding-top: 0px;
	font-style: italic;
	font-size: 0.7em;
	color: lightgrey;
	text-decoration: none;
	text-align: center;
}
.control {
	text-align: center;
	text-emphasis: none;
	color: black;
	text-decoration: none;
}
.no-underline {
	text-decoration: none;
}
.underlined {
	text-decoration: underline;
}
@media only screen and (min-width: 768px) {
	.bg-img {
		background-image: url(img/undraw_happy_music.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: contain;
		background-color: #ffff;
	}
}

@media only screen and (max-width: 600px) {
	/* <== You can change this break point as per your  needs */
	.reverse-columns {
		flex-direction: column-reverse;
		display: flex;
	}
}
