---
---

// Import Main CSS file from theme
@import 'main';
.transition-fade {
	opacity: 1;
	transition: 100ms;
}
html.is-animating .transition-fade {
	opacity: 0;
}
.absolute {
	position: fixed;
}
.download-link {
	color: $primary;
	text-decoration: underline;
	font-size: large;
}

@media only screen and (min-width: 768px) {
	.bg-img {
		background-image: url('{{ site.baseurl }}/img/undraw_happy_music.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: contain;
		background-color: #ffff;
	}
}
