<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Creación Sonora</title>
		<script
			defer
			src="https://kit.fontawesome.com/ebb858355d.js"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<link rel="stylesheet" href="/main.css" />
		<link rel="shortcut icon" type="image/jpg" href="/img/birdie.svg" />
	</head>
	<body>
		<nav
			class="navbar"
			id="nav-placeholder"
			role="navigation"
			aria-label="main navigation"
		></nav>
		<section class="section">
			<div class="container">
				<h1 class="title">Semana</h1>
				<hr />
				<div class="columns">
					<div class="column"></div>
					<div class="column is-two-thirds">
						<h1 class="title is-size-4">Clase 1</h1>
						<div class="content">
							<p class="subtitle is-size-5">Day/Month/Year</p>
							<p>Contenido</p>
							<a href="">Link a la grabación</a>
							<hr />
							<h1 class="title is-size-4">Clase 2</h1>
							<p class="subtitle is-size-5">Day/Month/Year</p>
							<p>Contenido</p>
							<a href="">Link a la grabación</a>
						</div>
					</div>
					<div class="column"></div>
				</div>
			</div>
		</section>
	</body>
</html>
